	/* 레이아웃 css 파일 */
	
	/*--  header --*/
	header{max-width:800px; width:100%; height:100px; border-bottom:1px solid #eee; background-color:#fff; color:#fff; padding:15px; position:fixed; top:0; left:50%; transform: translateX(-50%); box-shadow: 0px 0px 0px 1px #c4c4c4;}
	.headerBox{height: 100%; display:flex; justify-content: space-between; align-items: center;}
	.logo_box{border:1px solid red; width:180px; height:40px;} 
	.logo{display:block; box-sizing: border-box;}
	.search_box{border:1px solid red; position:relative; display:flex;}
	.search_box span:nth-child(1){width:250px;}
	.search_box span:nth-child(2){width:40px; display: flex; align-items: center; justify-content: center;}
	.search_box span input{width:100%; border: 1px solid #ddd; border-radius: 10px; height: 40px; width: 100%; cursor: pointer; padding:5px; font-size:15px;}
	.search_box span svg{color:#289158; font-size:18px;}
	
	/*--  footer --*/
	footer{width: 100%; max-width: 800px; max-height:80px; height:auto; position: fixed; bottom: 0; left: 50%; transform: translateX(-50%); border: 1px solid red; }
	.footerNavbar{ display: flex; flex-direction: row;}
	.footerNavbar li{width:calc(100% / 3);}
	.footerNavbar li a{width:100%; display:flex; flex-direction: column;  align-items:center;}
	.footerNavbar li:nth-child(odd) a{ background: #f2f2f2;  color:#707070;} /*홀수 버튼 색상*/
	.footerNavbar li:nth-child(odd) a:focus, .footerNavbar li:nth-child(odd) a:hover{ background: #d7d7d7;}
	.footerNavbar li:nth-child(even) a{ background: #289158; color:#fff; } /* 짝수 버튼 색상*/
	.footerNavbar li:nth-child(even) a:focus, .footerNavbar li:nth-child(even) a:hover{ background: #0b562d; color:#fff; }
	.footerNavbar li a span{padding:8px;}
	.footerNavbar li a span:nth-child(1) svg{font-size:25px; }

	/*-- contents --*/
	/* container */
	.container{max-width:800px; width:100%;  height:auto;  background-color:#f8f8f8; border:1px solid blue; margin-top:100px; padding:15px; margin:0 auto; padding-top:100px; padding-bottom:80px;}
	
	/* 회원가입 폼 */
	.registerBox{border:1px solid red; max-width:600px; margin:0 auto;}
	.regiFlex{display:flex; flex-direction: row; margin-bottom:15px;}
	.regiFlex label{border:1px solid blue; cursor:pointer; width:100%; max-width:120px; font-size:16px; display: flex; align-items: center; font-weight:700;}  
	.regiFlex input{border:1px solid #ddd; border-radius:10px; height: 45px; width: 100%; cursor:pointer; font-size:16px; padding:5px;} 		

	/*게시물 업로드 */
	.uploadBox{border:1px solid red; max-width:600px; margin:0 auto;}
	.uploadFlex{display:flex; flex-direction: row; margin-bottom:15px;}
	.uploadFlex label{border:1px solid blue; cursor:pointer; width:100%; max-width:120px; font-size:16px; display: flex; align-items: center; font-weight:700;}  
	.uploadFlex input{border:1px solid #ddd; border-radius:10px; height: 45px; width: 100%; cursor:pointer; font-size:16px; padding:5px;} 		

	/*-- buttons --*/
	/*공통으로 사용할 수 있는 부분 - 협의 필요*/
	.btn{cursor:pointer; margin:10px;}
	.submitBtn{min-width: 120px; width: calc(100% - 10px); background:#289158; color:#fff; font-size:16px; border:0px solid transparent; padding:15px; }
	.submitBtn:hover, .submitBtn:focus{background:#0b562d;}
	.backBtn{ min-width: 120px; width: calc(100% - 10px);  background:#289158; color:#fff; font-size:16px; border:0px solid transparent; padding:15px; }
	.backBtn:hover{background:#217849;}
	.backBtn:focus{background:#ddd}
	.btnBox{border:1px solid red; display:flex; flex-direction: row; align-items: center; justify-content: space-evenly; width:100%; max-width:600px; margin:20px auto auto auto;}
	.tit{font-size:20px;  text-align:center; font-weight:700; margin-top:25px; margin-bottom:25px; }

