			/* reset css*/
			@font-face {
		    font-family: 'NEXON';
		    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
		    font-weight: normal;
		    font-style: normal;
		}
		
		
		
		
				/* reset css*/
			
			*{padding:0; margin:0; box-sizing:border-box;}
			html, body { height: 100%; }
			body {font-family: 'NEXON','Noto Sans KR','Noto Sans',arial,sans-serif; font-size: 16px; color: #707070; font-weight: 400; -webkit-text-size-adjust: none; -webkit-overflow-scrolling:touch; word-break: keep-all;  width: 100%; height:100%; margin:0 auto; background-color:#f8f8f8;}
			h1, h2, h3, h4, h5, h6{line-height:normal; font-size:100%; font-weight:normal; }
			ul, ol, li{list-style:none}
			a, a:hover,a:active,a:visited{text-decoration:none; }
			img{border:0; vertical-align:top; width:100%;}
			button{border:0; background-color:transparent; cursor:pointer; font-family:inherit; font-size:inherit; color:#000; vertical-align:middle; }
			textarea{resize:none; width:100%; padding:5px; vertical-align:top; font-size:14px; font-family:inherit; color:#000}
			em,address{font-style:normal}
			table{width:100%; word-wrap:break-word; border-collapse:collapse; border-spacing: 0;}
			caption{width:0; height:0; line-height:0; font-size:0; color:transparent;}
			strong{font-weight:600; color:#333;}
			label{vertical-align:middle;cursor:pointer}
			.fa, .fas, .fal{vertical-align:middle; }
			input{vertical-align:middle; }
			img{vertical-align:middle;}
			/*input select 초기 설정*/
			input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active {transition: background-color 5000s ease-in-out 0s; -webkit-transition: background-color 9999s ease-out; -webkit-box-shadow: 0 0 0px 1000px white inset !important;}
			select::-ms-expand {  display: none; /* IE */}
			select { -webkit-appearance:none; -moz-appearance:none; -ms-appearance:none; appearance:none; outline:0; box-shadow:none; border:0!important; background: #f9f9f9; background-image: none; flex: 1; cursor:pointer;}	